@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#root {
  margin: 0 auto;
}

body {
  background: url('assets/patterns/dark_leather.webp') repeat;
  background-color: black !important;
  background-size: 325px 325px;
  font-family: 'Garet', sans-serif;
}

body.dark {
  background-color: black !important;
}

@media (max-width: 768px) {
  body {
    background-size: 200px 200px;
  }
}
